google-api-python-client==1.6.3
Flask==0.12.2
Flask-Cors==3.0.3
git+https://github.com/SemanticComputing/python-arpa-linker.git
git+https://github.com/abenassi/Google-Search-API/
lda==1.0.5
numpy==1.13.3
scipy==1.0.0
scikit-learn==0.19.1
Flask-SocketIO==2.9.2
setuptools==38.4.0
eventlet==0.21.0
redis==2.10.6
celery==4.1.0
lxml==4.6.2
elasticsearch==6.1.1
joblib==0.11
kombu==4.1.0
